@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  font-family: sans-serif;
  background-color: black;
  color: whitesmoke;
  transition: 0.5s ease-in-out;
}

/*------ NAVBAR ------*/
#nav {
  font-family: Kaushan Script;
  background-color: #FBC103 !important;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin: 0 25px; /* Agregué un poco de margen en los elementos del navbar */
}

.nav-link {
  text-decoration: none; /* Remove underlines from links */
  color: black; /* Set link color */
}

/*------ THEME DARK-LIGHT ------*/
.dark-mode-toggle {
  display: flex; /* Display its contents horizontally */
  align-items: center; /* Vertically center the contents within the navbar */
  cursor: pointer; /* Change cursor to pointer on hover for better usability */
  height: 40px; /* Adjust the height as needed */
  margin: 0 5px; /* Add margin to create spacing */
}

input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: black;
  appearance: none; /*para quitarle la propiedad de caja*/
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s ease;
  margin-left: 5px;
  margin-right: 5px;
}

input[type="checkbox"]:checked {
  background-color: #B53457;
}

input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: whitesmoke;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 1s ease;
}

input[type="checkbox"]:checked::before {
  transform: translateX(20px);
}

.light-mode {
  background-color: white;
  color: black;
}

/* Default (dark) mode logo image */
.logo {
  height: 25vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Light mode logo image */
.light-mode .logo {
  content: url(./../img/K0N3CT4L.png);
}

/* Momentáneo mientras no esté el dark/light mode en todas las páginas para centrar el logo */
#logo {
  height: 25vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Kaushan Script;
  text-align: center;
  color: whitesmoke;
}

.card {
  border: #19E7ED solid 1px;
}

.custom-img {
  max-width: auto;
  height: 100%;
}

.btn {
  font-family: Kaushan Script;
  background-color: #B53457;
  color: whitesmoke;
  padding: 1% 5% 1% 5%;
}

/* LOGIN - REGISTER */
.form-signin {
  max-width: 540px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-signin-heading {
  margin-bottom: 30px;
}

.form-signin-footer {
  margin-top: 50px;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;

}

#terms {
  margin: 0 auto !important;
  text-align: center !important;
  margin-bottom: 30px !important;
}

#name,
#surname,
#email,
#username,
#password,
#rpassword,
#signup {
  margin-bottom: 20px;
}

/* HOME */
#img {
  height: 300px;
}

#events,
#profile {
  width: 65%;
  /* Establece el ancho deseado para las tarjetas */
  margin: 0 auto 80px;
  /* Centra horizontalmente y agrega un margen inferior de 80px */
}

#map {
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
  align-items: center;
}

#map img {
  margin-bottom: 40px;
}

#events .card-body h3.card-title,
#profile .card-body h3.card-title {
  text-align: center;
}

#events .card-body a.btn-primary,
#profile .card-body a.btn-primary {
  display: block;
  /* Change display to block to center horizontally */
  margin: 10px auto 10px auto;
  /* Center horizontally with some vertical spacing */
}

#map .col-md-7 .card-img-top {
  border-radius: 10px;
  /* Adjust the value to control the roundness of the corners */
}

#map .col-md-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#map .col-md-3 .btn.btn-primary {
  font-size: 18px;
  /* Increase font size to make the button bigger */
  padding: 10px 20px;
  /* Adjust padding to increase button size */
}

/* FILTER EVENTS LIST */
#filter {
  margin-bottom: 20px;
}

#filter h4 {
  color: whitesmoke;
  text-align: center;
  line-height: 50px;
}

#eventFilter {
  width: 80%;
  /* Use the entire available width */
  border-radius: 10px;
  padding: 10px;
}

/*------ FOOTER ------*/
#footer {
  text-align: center;
  background-color: #FBC103;
  color: black;
  height: 7vh;
  align-items: center;
  font-size: 20px;
}

#links {
  margin: 50px;
}