@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  font-family: Kaushan Script;
  background-color: black;
}

#nav {
  background-color: #FBC103;
}

#logo {
  display: flex;
  margin: 0 auto;
  align-items: center;
  height: 35vh;
}

h1 {
  text-align: center;
  color: whitesmoke;
}

.card {
  border: #19E7ED solid 1px;
}

.custom-img {
  max-width: auto;
  height: 100%;
}

.btn {
  background-color: #B53457;
  color: whitesmoke;
  padding: 1% 5% 1% 5%;
}

#footer {
  background-color: #FBC103;
  height: 10vh;
}

/* LOGIN */
.form-signin {
  max-width: 540px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-signin-heading {
  margin-bottom: 30px;
}

.form-signin-footer {
  margin-top: 50px;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;

}

#username,
#password {
  margin-bottom: 20px;
}

/* HOME */
#events,
#profile {
  width: 65%;
  /* Establece el ancho deseado para las tarjetas */
  margin: 0 auto 30px;
  /* Centra horizontalmente y agrega un margen inferior de 30px */
}

#map {
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
  align-items: center;
}

